<template>
    <div class="modal-container bg-black bg-opacity-20 fixed top-0 bottom-0 left-0 right-0 flex items-center justify-center text-center z-20">
        <div class="modal bg-white rounded-md p-6">
            <p>{{message}}</p>
            <button class="px-4 py-2 mt-2 bg-green-400 rounded-md">Okay</button>
        </div>

    </div>
</template>

<script>
    export default {
        props:['message']
        
    }
</script>

<style lang="scss" scoped>


</style>