<template>
    <div id=map>
        
    </div>
</template>

<script>
import mapboxgl from 'mapbox-gl'
import 'mapbox-gl/dist/mapbox-gl.css'; 
    export default {
        data(){
            return{
                access_token:'pk.eyJ1IjoiYWxpcmV6YWUiLCJhIjoiY2t3dXduZG9pMTFnaTJvbWhjZDcxaXc5NSJ9.tJ1V9JYp2cVLdnwD9_d3jg',
                map:{},
                carMarkers:[]
            }
        },
        mounted(){
            this.createMap()
            this.addMarkers()
        },
        methods:{
            createMap(){
                mapboxgl.accessToken = this.access_token
                this.map = new mapboxgl.Map({
                    container: 'map',
                    style:'mapbox://styles/mapbox/streets-v11',
                    zoom: 11,
                    center: [8.029336,50.871808]
                })
            },
            myaddMarkers(){
                //  yourMarkersArray.map((marker) => {
                // const LngLat = [marker.location.lng, marker.location.lat]
                // const popup = marker.description
                // new mapboxgl.Marker()
                //     .setLngLat(LngLat)
                //     .setPopup(popup)
                //     .addTo(map)
                // })

                const el = document.createElement('div');
                el.className = 'marker';

                new mapboxgl.Marker(el).setLngLat([8.029336,50.871808])
                // .setPopup("CLS500")
                .addTo(this.map);
                console.log("added to map")
            },
            addMarkers(map) {
                const geojson = {
                    type: 'FeatureCollection',
                    features: [
                    {
                        type: 'Feature',
                        geometry: {
                        type: 'Point',
                        coordinates: [8.029,50.871]
                        },
                        properties: {
                        title: 'Mapbox',
                        description: 'Siegen, D.C.'
                        }
                    },
                    {
                        type: 'Feature',
                        geometry: {
                        type: 'Point',
                        coordinates: [8.009,50.886]
                        },
                        properties: {
                        title: 'Mapbox',
                        description: 'Siegen'
                        }
                    },
                    {
                        type: 'Feature',
                        geometry: {
                        type: 'Point',
                        coordinates: [8.042,50.899]
                        },
                        properties: {
                        title: 'Mapbox',
                        description: 'Siegen'
                        }
                    },
                    {
                        type: 'Feature',
                        geometry: {
                        type: 'Point',
                        coordinates: [7.101,50.737]
                        },
                        properties: {
                        title: 'Mapbox',
                        description: 'Bonn'
                        }
                    },
                    {
                        type: 'Feature',
                        geometry: {
                        type: 'Point',
                        coordinates: [6.960,50.938]
                        },
                        properties: {
                        title: 'Mapbox',
                        description: 'cologne'
                        }
                    }
                    ]
                }

                geojson.features.forEach((marker) => {
                    // create a HTML element for each feature
                    const el = document.createElement('div')
                    // el.className = 'carMarker'
                    el.style.cssText =  "background-image: url("+require(`~/assets/images/car-icon.svg`)+");width:50px;height:50px;cursor:pointer"

                    // make a marker for each feature and add to the map
                    new mapboxgl.Marker(el)
                    .setLngLat(marker.geometry.coordinates)
                    .addTo(this.map)
                })
            }
        }
        

        
    }
</script>

<style lang="scss" scoped>
#map{
   width:100%;
   height:100%;
}

.carMarker {
//   background-image: url('~assets/images/car-icon.svg');
    background: red!important;
//   background-size: cover;
  width: 50px!important;
  height: 50px!important;
  border-radius: 5px;
  cursor: pointer;
}
</style>