<template>
    <div>
        <NuxtLink to="/getlicence" v-if="!this.$store.state.driver_licence_status && this.$store.state.verification_method == 'connectme'" target="_blank" class="flex px-2 py-1 mb-1 bg-gray-100 rounded-md">
            <span class="material-icons">upload_file</span>Get a digital driver licence
        </NuxtLink>
        <button v-if="!this.$store.state.driver_licence_status && this.$store.state.verification_method == 'connectme'" @click="sendProofRequest()" class="bg-yellow-300 px-2 py-1 rounded-md flex">
            <span class="material-icons-outlined">assignment</span>
            Verify your driver License
        </button>
        <button v-if="this.$store.state.driver_licence_status" class="bg-green-500 px-2 py-1 rounded-md text-white flex cursor-default">
            <span class="material-icons-outlined">assignment_turned_in</span>
            Driver License Verified
        </button>
        <span class="flex" v-if="spinners.proofs">
            Sending request to ConnectMe app
            <span class="material-icons-outlined animate-spin">loop</span>
        </span>
        <AlertC message="Respond to the request in ConnectMe app." v-if="alert_connect==true" @click.native="alert_connect=false"></AlertC>
    </div>
</template>

<script>
    export default {
        data(){
            return{
                socketId:"",
                spinners: {  
                    proofs: false,   
                    },
                alert_connect:false    
            }
        },
        mounted(){

        },
        methods:{
            sendProofRequest: async function () {
                this.setupSocket();
                try {
                    this.spinners.proofs = true;
                    let proofAttrs = [
                                        {
                                            "name": "class"
                                        },
                                        {
                                            "name": "expiry_date"
                                        }
                                    ]
                    let proofPredicates;
                    let revocationInterval;
                    proofPredicates = [];    
                    revocationInterval = {};
                    const message = {
                        // "~for_relationship": this.proof.relationshipDID,
                        "~for_relationship": this.$store.state.relationshipDid,
                        name: "Driver Licence",
                        proof_attrs: proofAttrs,
                        proof_predicates: proofPredicates,
                        revocation_interval: revocationInterval,
                    };
                    await this.sendMessage(
                        "present-proof",
                        "1.0",
                        "request",
                        message,
                        null,
                        "BzCbsNYhMrjHiqZDTUASHg"
                    );
                    this.spinners.proofs = false;
                    // alert("Respond to request in ConnectMe app.")
                    this.alert_connect = true;
                } catch (err) {
                    console.error(err);
                    alert(
                    "Failed to send proof request. See console for more details."
                    );
                    this.spinners.proofs = false;
                }
                // this.$axios({
                //     method: 'post',
                //     url: process.env.VUE_APP_VERITY_AGENT+'/proof_verificaiton',
                //     data: 'socketId='+this.socketId
                // });
            
            },

            // get uuid from B/E (used for generation of threadId or sessionId)
            uuid: async function () {
                return (await this.$axios.get(process.env.VUE_APP_VERITY_AGENT+"/uuid")).data;
            },
            // IN THIS SECTION WE CONFIGURE MESSAGE HANDLERS FOR MESSAGES RECEIVED VIA WEBHOOK URL
            setupSocket: function () {
                this.socket = this.$nuxtSocket({
                    name: 'verity', // Use socket "home"
                    channel: '/', // connect to '/index'
                })
                this.socket.on('connect', () => {
                    console.log("socket id: ",this.socket.id)
                    this.socketId = this.socket.id
                })
                this.socket.on('proofReceived', async (data) => {
                    console.log("proof received")
                    console.log(data)
                    this.$store.commit('setDriverLicenceStatus',true)
                })
                // this.socket.on('message', async (message) => {
                //     this.messages.unshift({
                //         content: message,
                //         time: this.getTime(),
                //     });
                //     // Handle received message differently based on message type
                //     switch (message["@type"]) {
                //         case "did:sov:BzCbsNYhMrjHiqZDTUASHg;spec/present-proof/1.0/problem-report":
                //             // alert(message.description.en);
                //             console.log("koskos",message.description.en)
                //             break;
                //         case "did:sov:BzCbsNYhMrjHiqZDTUASHg;spec/present-proof/1.0/presentation-result":
                //             // alert(message.description)
                //             console.log("kirkir",message.description)
                //             console.log(message.requested_presentation)
                        
                //         // this.proofs.push({
                //         //   did: this.proof.relationshipDID,
                //         //   data: message.requested_presentation,
                //         // });

                //         // this.proof.relationshipDID = "";
                //         // this.proof.name = "";
                //         // this.proof.attrs = [{ name: ""}, { name: ""}],
                //         // this.proof.predicates = "";
                //         // this.proof.revocationInterval = "";
                //         // this.spinners.proofs = false;
                //         break;
                //     }
                // });
                
            },
            // register sessionID with B/E
            updateSocketSession: async function () {
                // Set sessionID if not set
                if (!this.sessionId) {
                this.sessionId = await this.uuid();
                }

                if (this.socket) {
                this.socket.emit("update", {
                    sessionId: this.sessionId,
                });
                } else {
                console.log("socket not yet created");
                }
            },
            // Restore stored values from browser storage (if any)
            restoreDataFromBrowserStorage: async function () {
                if (sessionStorage.verityDemoData) {
                const dataInBrowser = JSON.parse(sessionStorage.verityDemoData);
                for (const key of this.itemsToStoreInBrowser) {
                    const browserValue = dataInBrowser[key];
                    if (
                    browserValue !== undefined &&
                    browserValue !== "" &&
                    browserValue != null
                    ) {
                    this._data[key] = browserValue;
                    }
                }
                }
            },
            // store values defined in itemsToStoreInBrowser array to browser storage
            updateDataInBrowserStorage: function () {
                const verityDemoData = {};
                for (const key of this.itemsToStoreInBrowser) {
                verityDemoData[key] = this._data[key];
                }
                sessionStorage.verityDemoData = JSON.stringify(verityDemoData);
            },
            // Clear browser storage ("Reset all")
            resetBrowserStorage: async function () {
                delete sessionStorage.verityDemoData;

                await this.restoreDataFromBrowserStorage();
                await this.updateSocketSession();
                location.reload();
            },
            // Initiates setup issuer logic which will create issuer DID/Verkey
            setupIssuer: async function () {
                try {
                this.spinners.setupIssuer = true;
                await this.sendMessage("issuer-setup", "0.6", "create", {});
                } catch (err) {
                this.spinners.setupIssuer = false;
                }
            },
            // Send data to B/E based on which B/E will initiate REST API call to VAS
            sendMessage: async function (
                msgFamily,
                msgFamilyVersion,
                msgName,
                message,
                threadId,
                qualifier
            ) {
                if (!threadId) {
                threadId = await this.uuid();
                }
                console.log("too send message xc")
                await this.$axios.post(process.env.VUE_APP_VERITY_AGENT+"/send", {
                msgFamily: msgFamily,
                msgFamilyVersion: msgFamilyVersion,
                msgName: msgName,
                threadId: threadId,
                qualifier: qualifier,
                message: message,
                });
            },
            // updates configuration (logoUrl, name) on VAS
            updateConfig: async function () {
                this.spinners.configuration = true;
                try {
                const message = {
                    configs: [
                    {
                        name: "logoUrl",
                        value: this.institutionLogoURL,
                    },
                    {
                        name: "name",
                        value: this.institutionName,
                    },
                    ],
                };
                await this.sendMessage(
                    "update-configs",
                    "0.6",
                    "update",
                    message
                );
                } catch (err) {
                console.error(err);
                console.error("Failed to update configuration.");
                }
                this.spinners.configuration = false;
            },
        }
    }
</script>

<style lang="scss" scoped>

</style>