<template>
    <div class="text-center">
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <!-- <script src="/socket.io/socket.io.js"></script> -->
        <script src="https://use.fontawesome.com/62efe02dbf.js"></script>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
        <link
        rel="stylesheet"
        href="https://unpkg.com/purecss@2.0.3/build/base-min.css"
        />
        <link
        rel="stylesheet"
        href="https://unpkg.com/purecss@2.0.3/build/grids-min.css"
        />
        <link
        rel="stylesheet"
        href="https://unpkg.com/purecss@2.0.3/build/grids-responsive-min.css"
        />
        <link
        href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
        rel="stylesheet"
        />

        <client-only>
          <div v-if="inviteDetailModal" id="invite-detail-modal" style="display:block" class="w3-modal">
            <div class="modal-content w3-round bg-white">
              <div class="padding-16 flex-vertical flex-justify-center">
                <span
                  onclick="document.getElementById('invite-detail-modal').style.display='none'; app.spinners.connections = false"
                  class="w3-button w3-display-topright w3-text-gray w3-xlarge"
                  >&times;</span
                >

                <div class="w3-text-gray">
                  <p class="text-bold">Scan to Create Connection</p>
                  <p class="w3-small">
                    Scan this QR code with the Connect.Me app
                  </p>
                </div>

                <div class="flex-center">
                  <a v-if="isMobile()" :href="'https://connectme.app.link?t='+inviteUrl" class="bg-green-500 p-3 rounded-md inline-block text-white">Connect through ConnectMe</a>
                  <img v-if="!isMobile()" :src="inviteDetailQRCode" class="img-qr mx-auto" />
                </div>
              </div>
            </div>
          </div>
        </client-only>

        <h2 class="font-serif text-2xl mt-10">Digital Licence Issuance Department</h2>
        <section class="mt-10">

            <button v-if="this.connections.length == 0" @click="newConnection()" class="p-4 rounded-md bg-red-900 text-white">Connect your wallet</button><br>
            <div v-if="connections.length > 0" class="">
                <div v-for="connection in connections" :key="connection.name">
                    <!-- <div class="w3-margin-top">
                    <p class="w3-text-gray w3-small">
                        Connection Name
                    </p>
                    <p class="w3-text-gray w3-small text-bold">
                        {{connection.name}}
                    </p>
                    </div> -->
                    <div>
                    <p class="w3-text-gray w3-small">
                        Connection DID
                    </p>
                    <p class="w3-text-gray w3-small text-bold">
                        {{connection.did}}
                    </p>
                    </div>
                </div>
            </div><br>

            <div v-if="connections.length > 0">
                Enter your licence's serial number<br>
                <input v-model="serialnumber" placeholder="e.g. BG318..." class="border-2 border-red-500 rounded-md p-2 w-64"><br>
                <button @click="offerCredential()" class="bg-red-900 p-4 rounded-md text-white w-64 m-2">Claim digital driver's licence</button>
                <br>
                <span @click="connections=[]" class="text-xs">Disconnect</span>
            </div>
        </section>

        <section v-if="issuerDID !== ''" class="opacity-10 text-xs">
            <div class="w3-margin-top">
                <p class="">
                Issuer DID
                </p>
                <p class=""><b>{{issuerDID}}</b></p>
            </div>
            <div class="">
                <p class="">
                Issuer VerKey
                </p>
                <p class="">
                <b>{{issuerVerKey}}</b>
                </p>
            </div>
        </section>
        <AlertC message="Accept the credential in the ConnectMe app." v-if="alert_connect==true" @click.native="alert_connect=false"></AlertC>
    </div>
</template>

<script>
     export default {
        data(){
            return{
                areFunctionsBtnsHovered: false,
                isResetHovered: false,
                currentTab: "",
                sessionId: "",
                socket: null,
                verityURL: "",
                domainDID: "",
                webhookURL: "",
                issuerDID: "",
                issuerVerKey: "",
                institutionName: "SSI Car Sharing",
                institutionLogoURL: "https://freeiconshop.com/wp-content/uploads/edd/car-flat.png",
                accentColor: "#55B685",
                inviteDetailModal:false,
                alert_connect:false,
                inviteDetailQRCode: "",
                schemas: [{ "name": "driver_licence", "id": "NxG44137MdAuob6hBBotn5:2:driver_licence:1.1", "attrs": [ "class", "expiry_date" ] }],
                credDefs: [ { "name": "Driver Licence", "id": "NxG44137MdAuob6hBBotn5:3:CL:277512:latest", "schemaId": "NxG44137MdAuob6hBBotn5:2:driver_licence:1.1", "attrs": [ "class", "expiry_date" ] }],
                connections: [],
                proofs: [],
                structMsgs: [],
                messages: [],
                serialnumber:'',
                inviteUrl:'',
                schema: {
                    name: "",
                    version: "",
                    attrs: [{ value: ""}, { value: ""}],
                },
                credDef: {
                    name: "",
                    schemaId: "",
                    tag: "",
                    revocationDetails: "",
                    attrs: [],
                },
                connection: {
                    name: "",
                    did: "",
                },
                credential: {
                    name: "",
                    relationshipDID: "",
                    credDefId: "",
                    attrs: [],
                    attrValues: [],
                    threadId: "",
                },
                proof: {
                    relationshipDID: "",
                    name: "",
                    attrs: [{ name: ""}, { name: ""}],
                    predicates: "",
                    revocationInterval: "",
                },
                structuredMessage: {
                    text: "",
                    detail: "",
                    responses: "",
                    relationshipDID: "",
                },
                customRequest: {
                    msgFamilyQualifier: "",
                    message: "",
                    msgFamily: "",
                    msgFamilyVersion: "",
                    msgName: "",
                },
                itemsToStoreInBrowser: [
                    "accentColor",
                    "institutionName",
                    "institutionLogoURL",
                    "sessionId",
                    "verityURL",
                    "domainDID",
                    "webhookURL",
                    "issuerDID",
                    "issuerVerKey",
                    "schemas",
                    "credDefs",
                    "connections",
                    "proofs",
                    "structMsgs",
                    "messages",
                    "schema",
                    "credDef",
                    "connection",
                    "credential",
                    "proof",
                    "structuredMessage",
                    "customRequest",
                ],
                spinners: {
                    setupIssuer: false,
                    configuration: false,
                    schemas: false,
                    credDefs: false,
                    connections: false,
                    creds: false,
                    proofs: false,
                    structMsgs: false,
                    custom: false,
                }
            }
        },

        fetch(){
            // console.log("setup in mount called")
            if (this.issuerDID == ''){
                this.setupIssuer();
            }
            // if (this.$store.state.relationshipDid != null && this.connections.length == 0){
            //     this.connections.push({
            //         name: this.$store.state.relationshipDid,
            //         did: this.$store.state.relationshipDid,
            //     });
            //     return
            // }
        },

        computed: {
          sessionMiniId: function () {
            return this.sessionId ? this.sessionId.substring(0, 7) : "";
          },
          textColor: function () {
            // Using YIQ formula to get the proper text color contrast using 156 as a discriminant rather than 128
            const discriminant = 156;
            const hexcolor = this.accentColor.replace("#", "");
            const r = parseInt(hexcolor.substr(0, 2), 16);
            const g = parseInt(hexcolor.substr(2, 2), 16);
            const b = parseInt(hexcolor.substr(4, 2), 16);
            const yiq = (r * 299 + g * 587 + b * 114) / 1000;
            return yiq >= discriminant ? "black" : "white";
          },
          resetAllBtnStyle: function () {
            return {
              backgroundColor: this.isResetHovered
                ? this.textColor
                : this.accentColor,
              color: this.isResetHovered ? this.accentColor : this.textColor,
              borderColor: this.isResetHovered
                ? this.accentColor
                : this.textColor,
            };
          },
          funtionsBtnsStyles: function () {
            const color = this.areFunctionsBtnsHovered
              ? this.textColor
              : this.accentColor;
            const backgroundColor = this.areFunctionsBtnsHovered
              ? this.accentColor
              : this.textColor;

            return {
              color: color,
              borderColor: color,
              backgroundColor: backgroundColor,
            };
          },
        },

        methods: {
          handleFocus: function (event) {
            event.target.style.outline = "1px auto " + this.accentColor;
          },
          handleBlur: function (event) {
            event.target.style.outline = "";
          },
          // changes color of tabs to selected accent color
          changeColor: function (event) {
            sessionStorage.accentColor = this.accentColor;
          },
          // prints time when webhook URL message was received in the format hh24:mm:ss
          getTime: function () {
            const time = new Date();
            return time.toLocaleString("en-US", {
              hour: "numeric",
              minute: "numeric",
              second: "numeric",
              hour12: false,
            });
          },
          // adds an extra input field when no empty fields left
          addNewField: function (attributesArray) {
            let hasNoEmptyValue = attributesArray.every(item => item.value) || attributesArray.every(item => item.name);
            if(hasNoEmptyValue && attributesArray === this.schema.attrs){
              attributesArray.push({ value: '' });
            }
            else if(hasNoEmptyValue && attributesArray === this.proof.attrs){
              attributesArray.push({ name: '' });
            }
          },
          // deletes selected attribute field
          deleteAttribute: function(index, attributesArray) {
            attributesArray.splice(index, 1);
          },
          // adds attributes of a corresponding schema to credDef or credential
          handleSelect: function (event, selectedValue) {
            if (selectedValue === this.schemas){
              let selectedSchema = selectedValue.filter(schema => schema.id === event.target.value);
              const schemaAttrs = selectedSchema[0].attrs;
              this.credDef.attrs = [];
              this.credDef.attrs = this.credDef.attrs.concat(schemaAttrs);
            }
            else if (selectedValue === this.credDefs){
              this.credential.attrValues = [];
              let selectedCredDef = selectedValue.filter(credDef => credDef.id === event.target.value);
              const credDefAttr = selectedCredDef[0].attrs;
              this.credential.attrs = [];
              this.credential.attrs = this.credential.attrs.concat(credDefAttr);
            }
          },
          // creates credentialValues object 
          addCredentialValues: function () {
            let credentialValues = {}
            this.credential.attrs.forEach((attr, i) => {
              this.credential.attrValues.forEach((value) => {
              credentialValues[attr] = this.credential.attrValues[i]
              });
            });
            return credentialValues;
          },
          // Sends request to B/E to register Issuer DID/Verkey on Sovrin Staging Net via Sovrin SelfServe portal
          registerDID: async function (did, verkey) {
            var response = await axios.post(process.env.VUE_APP_VERITY_AGENT+"/registerDID", {
              network: "stagingnet",
              did: did,
              verkey: verkey,
              paymentaddr: "",
            });
            console.log("tu register did")
            this.messages.unshift({
              content:
                "Registration response from Sovrin portal:\n" +
                JSON.stringify(response.data),
              time: this.getTime(),
            });
            this.issuerDID = did;
            this.issuerVerKey = verkey;
            this.spinners.setupIssuer = false;
          },
          // opens selected tab
          // does not allow to open Tabs for Schema/CredDef creation or credential issuance if Issuer keys are not created
          openTab: function (tabName) {
            if (
              ["creds", "cred-defs", "write-schemas"].includes(tabName) &&
              this.issuerDID === ""
            ) {
              alert("You need to run Setup Issuer first");
            } else {
              this.currentTab = this.currentTab === tabName ? "" : tabName;
              sessionStorage.verityDemoCurrentTab = tabName;
            }
          },
          // IN THIS SECTION WE CONFIGURE MESSAGE HANDLERS FOR MESSAGES RECEIVED VIA WEBHOOK URL
          setupSocket: function () {
            //original code
            // this.socket = io();
            this.socket = this.$nuxtSocket({
                name: 'verity', // Use socket "home"
                channel: '/', // connect to '/index'
            })
            this.socket.on("message", async (message) => {
              this.messages.unshift({
                content: message,
                time: this.getTime(),
              });
              //
              this.socket.on('alreadyconnection', async (data) => {
                    console.log("alreadyconnection")
                    console.log(data)
                    this.connection.did = data
                })
              // Handle received message differently based on message type
              switch (message["@type"]) {
                case "did:sov:123456789abcdefghi1234;spec/write-schema/0.6/status-report":
                  this.schemas.push({
                    name: message.schemaId.split(":")[2],
                    id: message.schemaId,
                    attrs: this.schema.attrs.map(i => i.value).filter(attr => attr),
                  });
                  this.schema.name = "";
                  this.schema.version = "";
                  this.schema.attrs = [{ value: ""}, { value: ""}],
                  this.spinners.schemas = false;
                  break;
                case "did:sov:123456789abcdefghi1234;spec/write-schema/0.6/problem-report":
                  this.schema.name = "";
                  this.schema.version = "";
                  this.schema.attrs = [{ value: ""}, { value: ""}],
                  this.spinners.schemas = false;
                  alert(message.message);
                  break;
                case "did:sov:123456789abcdefghi1234;spec/write-cred-def/0.6/status-report":
                  this.credDefs.push({
                    name: this.credDef.name,
                    id: message.credDefId,
                    schemaId: this.credDef.schemaId, 
                    attrs: this.credDef.attrs
                  });
                  this.credDef.name = "";
                  this.credDef.id = "";
                  this.credDef.schemaId = "";
                  this.credDef.attrs = [];
                  this.credDef.tag = "";
                  this.credDef.revocationDetails = "";
                  this.spinners.credDefs = false;
                  break;
                case "did:sov:123456789abcdefghi1234;spec/relationship/1.0/created":
                  this.connection.did = message.did;
                  const msg = {
                    "~for_relationship": message.did,
                  };
                  await this.sendMessage(
                    "relationship",
                    "1.0",
                    "out-of-band-invitation",
                    msg,
                    message["~thread"].thid
                  );
                  break;
                case "did:sov:123456789abcdefghi1234;spec/relationship/1.0/invitation":
                  this.inviteUrl = message.inviteURL;
                  this.inviteDetailQRCode = (
                    await axios.post(process.env.VUE_APP_VERITY_AGENT+"/qr", { url: message.inviteURL })
                  ).data;
                  // document.getElementById("invite-detail-modal").style.display =
                  //   "block";
                  this.inviteDetailModal = true
                  break;
                case "did:sov:BzCbsNYhMrjHiqZDTUASHg;spec/issue-credential/1.0/accept-request":
                  try {
                    const msg = {
                      "~for_relationship": this.credential.relationshipDID,
                    };
                    await this.sendMessage(
                      "issue-credential",
                      "1.0",
                      "issue",
                      msg,
                      message["~thread"].thid,
                      "BzCbsNYhMrjHiqZDTUASHg"
                    );
                    this.credential.name = "";
                    this.credential.relationshipDID = "";
                    this.credential.credDefId = "";
                    this.credential.attrs = "";
                    this.credential.attrValues = [];
                    this.spinners.creds = false;
                  } catch (err) {
                    console.error(err);
                    alert(
                      "Failed to issue credential. See console for more details."
                    );
                    this.spinners.creds = false;
                  }
                  break;
                case "did:sov:BzCbsNYhMrjHiqZDTUASHg;spec/connections/1.0/response-sent":
                  // document.getElementById("invite-detail-modal").style.display =
                  //   "none";
                  this.inviteDetailModal = false
                  this.connections.push({
                    // name: this.connection.name,
                    name: this.connection.did,
                    did: this.connection.did,
                  });
                  this.connection.name = "";
                  this.connection.did = "";
                  this.spinners.connections = false;
                  break;
                case "did:sov:BzCbsNYhMrjHiqZDTUASHg;spec/out-of-band/1.0/relationship-reused":
                // document.getElementById("invite-detail-modal").style.display =
                //     "none";
                this.inviteDetailModal = false
                  this.connection.name = "";
                  this.connection.did = "";
                  this.spinners.connections = false;
                //   alert(
                //     "The mobile wallet app signalled that it already has the connection with this issuer DID. Delete the existing connection in the mobile app if you want to establish a new connection"
                //   );

                this.connections.push({
                    name: message.relationship,
                    did:message.relationship,
                });
                case "did:sov:BzCbsNYhMrjHiqZDTUASHg;spec/committedanswer/1.0/answer-given":
                  this.structMsgs.push({
                    did: this.structuredMessage.relationshipDID,
                    data: message.answer,
                  });
                  this.structuredMessage.relationshipDID = "";
                  this.structuredMessage.text = "";
                  this.structuredMessage.detail = "";
                  this.structuredMessage.responses = "";
                  this.spinners.structMsgs = false;
                  break;
                case "did:sov:123456789abcdefghi1234;spec/issuer-setup/0.6/public-identifier-created":
                  console.log("tu case morede nazar")
                  await this.registerDID(
                    message.identifier.did,
                    message.identifier.verKey
                  );
                  break;
                case "did:sov:123456789abcdefghi1234;spec/issuer-setup/0.6/problem-report":
                  console.log("umad tu case problem report")
                  if (
                    message.message ===
                    "Issuer Identifier is already created or in the process of creation"
                  ) {
                    console.log("umad tu if",message.message)
                    await this.sendMessage(
                      "issuer-setup",
                      "0.6",
                      "current-public-identifier",
                      {}
                    );
                  }
                  break;
                case "did:sov:123456789abcdefghi1234;spec/issuer-setup/0.6/public-identifier":
                  await this.registerDID(message.did, message.verKey);
                  break;
                case "did:sov:BzCbsNYhMrjHiqZDTUASHg;spec/present-proof/1.0/problem-report":
                  alert(message.description.en);
                  break;
                case "did:sov:BzCbsNYhMrjHiqZDTUASHg;spec/present-proof/1.0/presentation-result":
                  this.proofs.push({
                    did: this.proof.relationshipDID,
                    data: message.requested_presentation,
                  });

                  this.proof.relationshipDID = "";
                  this.proof.name = "";
                  this.proof.attrs = [{ name: ""}, { name: ""}],
                  this.proof.predicates = "";
                  this.proof.revocationInterval = "";
                  this.spinners.proofs = false;
                  break;
              }
            });
          },
          // get uuid from B/E (used for generation of threadId or sessionId)
          uuid: async function () {
            return (await axios.get(process.env.VUE_APP_VERITY_AGENT+"/uuid")).data;
          },
          // register sessionID with B/E
          updateSocketSession: async function () {
            // Set sessionID if not set
            if (!this.sessionId) {
              this.sessionId = await this.uuid();
            }

            if (this.socket) {
              this.socket.emit("update", {
                sessionId: this.sessionId,
              });
            } else {
              console.log("socket not yet created");
            }
          },
          // Restore stored values from browser storage (if any)
          restoreDataFromBrowserStorage: async function () {
            if (sessionStorage.verityDemoData) {
              const dataInBrowser = JSON.parse(sessionStorage.verityDemoData);
              for (const key of this.itemsToStoreInBrowser) {
                const browserValue = dataInBrowser[key];
                if (
                  browserValue !== undefined &&
                  browserValue !== "" &&
                  browserValue != null
                ) {
                  this._data[key] = browserValue;
                }
              }
            }
          },
          // store values defined in itemsToStoreInBrowser array to browser storage
          updateDataInBrowserStorage: function () {
            const verityDemoData = {};
            for (const key of this.itemsToStoreInBrowser) {
              verityDemoData[key] = this._data[key];
            }
            sessionStorage.verityDemoData = JSON.stringify(verityDemoData);
          },
          // Clear browser storage ("Reset all")
          resetBrowserStorage: async function () {
            delete sessionStorage.verityDemoData;

            await this.restoreDataFromBrowserStorage();
            await this.updateSocketSession();
            location.reload();
          },
          // Initiates setup issuer logic which will create issuer DID/Verkey
          setupIssuer: async function () {
            try {
              this.spinners.setupIssuer = true;
              await this.sendMessage("issuer-setup", "0.6", "create", {});
            } catch (err) {
              this.spinners.setupIssuer = false;
            }
          },
          // Send data to B/E based on which B/E will initiate REST API call to VAS
          sendMessage: async function (
            msgFamily,
            msgFamilyVersion,
            msgName,
            message,
            threadId,
            qualifier
          ) {
            if (!threadId) {
              threadId = await this.uuid();
            }
            await axios.post(process.env.VUE_APP_VERITY_AGENT+"/send", {
              msgFamily: msgFamily,
              msgFamilyVersion: msgFamilyVersion,
              msgName: msgName,
              threadId: threadId,
              qualifier: qualifier,
              message: message,
            });
          },
          // updates configuration (logoUrl, name) on VAS
          updateConfig: async function () {
            this.spinners.configuration = true;
            try {
              const message = {
                configs: [
                  {
                    name: "logoUrl",
                    value: this.institutionLogoURL,
                  },
                  {
                    name: "name",
                    value: this.institutionName,
                  },
                ],
              };
              await this.sendMessage(
                "update-configs",
                "0.6",
                "update",
                message
              );
            } catch (err) {
              console.error(err);
              console.error("Failed to update configuration.");
            }
            this.spinners.configuration = false;
          },
          // This will update webhook URL endpoint on VAS
          updateEndpoint: async function () {
            try {
              // Get endpoint for F/E session from B/E
              this.webhookURL = (
                await axios.post(process.env.VUE_APP_VERITY_AGENT+"/webhookUrl", { sessionId: this.sessionId })
              ).data;
              // Prepare message to update endpoint on VAS
              const message = {
                comMethod: {
                  id: "webhook",
                  type: 2,
                  value: this.webhookURL,
                  packaging: {
                    pkgType: "plain",
                  },
                },
              };
              // sent message to B/E to update webhookURL endpoint. B/E will then initiate REST API call to VAS
              await this.sendMessage(
                "configs",
                "0.6",
                "UPDATE_COM_METHOD",
                message
              );
            } catch (err) {
              console.error(err);
              console.error("Failed to update endpoint.");
            }
          },
          // get VerityURL and domain DID from B/E so that they could be shown in Configuration tab
          getConfig: async function () {
            try {
              const response = await axios.get(process.env.VUE_APP_VERITY_AGENT+"/getConfig");
              this.verityURL = response.data.verityUrl;
              this.domainDID = response.data.domainDid;
            } catch (err) {
              console.error(err);
              console.error("Failed to get config");
            }
          },
          writeSchema: async function () {
            try {
              this.spinners.schemas = true;
              const message = {
                name: this.schema.name,
                version: this.schema.version,
                attrNames: this.schema.attrs.map(attr => attr.value).filter(value => value),
              };
              await this.sendMessage("write-schema", "0.6", "write", message);
            } catch (err) {
              console.error(err);
              alert(
                "Failed to write schema. See console for more details.\n\nDid you remember to write the Issuer DID and VerKey to the ledger?"
              );
              this.spinners.schemas = false;
            }
          },
          writeCredDef: async function () {
            try {
              this.spinners.credDefs = true;
              let revocationDetails;
              if (this.credDef.revocationDetails === "") {
                revocationDetails = {};
              } else {
                try {
                  revocationDetails = JSON.parse(
                    this.credDef.revocationDetails
                  );
                } catch (err) {
                  console.error(err);
                  alert(
                    "Failed to write credential definition. Revocation Details is not valid JSON."
                  );
                  this.spinners.credDefs = false;
                  return;
                }
              }
              const message = {
                name: this.credDef.name,
                schemaId: this.credDef.schemaId,
                tag: this.credDef.tag || null,
                revocationDetails: revocationDetails,
              };
              await this.sendMessage("write-cred-def", "0.6", "write", message);
            } catch (err) {
              console.error(err);
              alert(
                "Failed to write credential definition. See console for more details.\n\nDid you remember to write the Issuer DID and VerKey to the ledger?"
              );
              this.spinners.credDefs = false;
            }
          },
          newConnection: async function () {
            try {
              this.spinners.connections = true;
              const message = {
                label: this.institutionName
              };
              await this.sendMessage("relationship", "1.0", "create", message);
            } catch (err) {
              console.error(err);
              alert(
                "Failed to create connection. See console for more details."
              );
              this.spinners.connections = false;
            }
          },
          offerCredential: async function () {
              if (this.serialnumber ==''){
                  alert("Please enter the serial number first");
                  return
              }
              this.credential = {
                  attrValues:['c','4123'],
                  attrs:['class','expiry_date'],
                  name:"Driver Licence",
                  credDefId: "NxG44137MdAuob6hBBotn5:3:CL:277512:latest",
                  relationshipDID:this.connections[0].did,
                  threadId:""
              }
            if(this.credential.attrValues.length === 0){
              alert("Please choose Relationship DID, Credential Definition ID, and fill in Credential Values before issuing a Credential.");
              return;
            } else if (this.credential.attrValues.length !== this.credential.attrs.length) {
              alert("Please fill in Credential Values before issuing a Credential.");
              return;
            } else {
              try {
                this.spinners.creds = true;
                // let credValues = this.addCredentialValues();
                // let values = JSON.parse(JSON.stringify(credValues));
                let values = {class: "B", expiry_date: "24.2.2027"}
                const message = {
                  "~for_relationship": this.credential.relationshipDID,
                  comment: this.credential.name,
                  cred_def_id: this.credential.credDefId,
                  credential_values: values,
                  price: 0,
                };
              
                await this.sendMessage(
                  "issue-credential",
                  "1.0",
                  "offer",
                  message,
                  null,
                  "BzCbsNYhMrjHiqZDTUASHg"
                );
                this.spinners.creds = false;
                // alert("Accept the credential in the ConnectMe app.");
                this.alert_connect = true;
              } catch (err) {
                console.error(err);
                alert(
                  "Failed to issue credential. See console for more details."
                );
                this.spinners.creds = false;
              }
            }
          },
          sendProofRequest: async function () {
            let proofVals = this.proof.attrs.filter(attr => attr.name !== "");
            if(proofVals.length === 0) {
              alert(
                "Please fill in Proof Attributes fields before sending a Proof Request."
              );
              return;
            } else {
              try {
                this.spinners.proofs = true;
                let proofAttrs = JSON.parse(JSON.stringify(proofVals));
                let proofPredicates;
                let revocationInterval;
                if (this.proof.predicates) {
                  try {
                    proofPredicates = JSON.parse(this.proof.predicates);
                  } catch (err) {
                    alert(
                      "Proof Predicates are not valid JSON. Should be a JSON Array of proof predicate objects"
                    );
                    this.spinners.proofs = false;
                    return;
                  }
                } else {
                  proofPredicates = [];
                }
                if (this.proof.revocationInterval) {
                  try {
                    revocationInterval = JSON.parse(
                      this.proof.revocationInterval
                    );
                  } catch (err) {
                    alert(
                      "Proof Revocation Interval is not valid JSON. Should be a Revocation Interval JSON Object"
                    );
                    this.spinners.proofs = false;
                    return;
                  }
                } else {
                  revocationInterval = {};
                }
                const message = {
                  "~for_relationship": this.proof.relationshipDID,
                  name: this.proof.name,
                  proof_attrs: proofAttrs,
                  proof_predicates: proofPredicates,
                  revocation_interval: revocationInterval,
                };
                await this.sendMessage(
                  "present-proof",
                  "1.0",
                  "request",
                  message,
                  null,
                  "BzCbsNYhMrjHiqZDTUASHg"
                );
                this.spinners.proofs = false;
            } catch (err) {
              console.error(err);
              alert(
                "Failed to send proof request. See console for more details."
              );
              this.spinners.proofs = false;
              }
            }
          },
          sendStructuredMessage: async function () {
            try {
              this.spinners.structMsgs = true;
              const message = {
                "~for_relationship": this.structuredMessage.relationshipDID,
                text: this.structuredMessage.text,
                detail: this.structuredMessage.detail,
                valid_responses: this.structuredMessage.responses.split(","),
                signature_required: false,
              };
              await this.sendMessage(
                "committedanswer",
                "1.0",
                "ask-question",
                message,
                null,
                "BzCbsNYhMrjHiqZDTUASHg"
              );
              this.spinners.structMsgs = false;
            } catch (err) {
              console.error(err);
              alert("Failed to send structured message");
              this.spinners.structMsgs = false;
            }
          },
          sendCustomRequest: async function () {
            try {
              this.spinners.custom = true;
              let message;
              try {
                message = JSON.parse(this.customRequest.message);
              } catch (e) {
                console.error(e);
                alert("Custom Request Message is not valid JSON.");
                this.spinners.custom = false;
                return;
              }

              await this.sendMessage(
                this.customRequest.msgFamily,
                this.customRequest.msgFamilyVersion,
                this.customRequest.msgName,
                message,
                null,
                this.customRequest.msgFamilyQualifier
              );
              this.spinners.custom = false;
            } catch (e) {
              console.error(e);
              alert(
                "Failed to send custom request. See console for more details."
              );
              this.spinners.custom = false;
            }
          },
          // my methods
          async forcereg(){
            await this.registerDID(
              process.env.VUE_APP_VERITY_ISSUER_DID,process.env.VUE_APP_VERITY_ISSUER_VERKEY
            );
            console.log("forceregdone")
          },
          isMobile() {
                if(/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
                    return true
                } else {
                    return false
                }
            }
        },
        // Logic to run when Vue.js application is started
        mounted: async function () {
          await this.restoreDataFromBrowserStorage();
          this.setupSocket();
          if (sessionStorage.verityDemoCurrentTab) {
            this.openTab(sessionStorage.verityDemoCurrentTab);
          }
          await this.updateSocketSession();
          await this.updateEndpoint();
          await this.getConfig();
          this.updateDataInBrowserStorage();
        },
        // Logic to run when Vue.js application is updated
        updated: function () {
          this.updateDataInBrowserStorage();
        },
      
    }
</script>

<style lang="scss" scoped>


</style>