<template>
  <div class="h-screen relative ">
    <client-only>
    <Map class="absolute top-0 bottom-0 left-0 right-0" />
    <div class="absolute top-0 left-0 z-10 bg-white shadow-md rounded-md m-4 p-6 ">
      <b>Welcome</b><br>
      <NuxtLink to="/login" v-if="this.$store.state.relationshipDid == null" class="inline-block bg-green-500 rounded-md px-4 py-1 text-white">Sign in</NuxtLink>
      <div v-else>
        <div class="text-xs opacity-50">
          <!-- user:{{this.$store.state.user}}<br> -->
          relationDID:{{this.$store.state.relationshipDid}}
        </div>
        <button @click="logout()" class="bg-gray-200 rounded-md px-2 py-1">Logout</button>
      </div>
      <br>
      
        <VerifyLicence v-if="this.$store.state.relationshipDid"/>
      <input placeholder="Where to?" id="search">
      <br>

    </div>
      </client-only>
    

  </div>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  data(){
    return{
      
    }
  },
  created(){
    if(!this.$store.state.user && !this.$store.state.relationshipDid){
      this.$router.push('/login')
    }
  },
  methods:{
    logout(){
      this.$store.commit('setUser',null)
      this.$store.commit('setRelationDid',null)
      this.$axios({
          method: 'post',
          url: process.env.VUE_APP_VERITY_AGENT+'/logout',
          data: 'socketId='+this.socketId
      });
      this.$router.push('/login')
    }

  }

})
</script>

<style lang="scss" scoped>
  #search{
    @apply bg-gray-100 rounded-md p-3 mt-4;
  }
</style>
