<template>
    <div class="flex bg-green-400 flex-col md:flex-row">

        <section class="leftpane h-screen md:overflow-y-scroll flex-1 mr-0 md:-mr-20 ">
            <NuxtLink to="/" class="absolute top-3 left-6">Carbit<h3 class="text-sm">Car sharing reimagined</h3></NuxtLink>
            
            <img src="~/assets/images/StockSnap_MW5EXKR4DH.jpg" class="w-full h-36 md:h-80 object-cover">
            <div>
                <span class="material-icons">directions_car</span><h2>One tap, drive!</h2>
                <p>You can easily access vehicles from anywhere in or out of the cities with your phone!</p>
            </div>
            <div>
                <span class="material-icons">public</span><h2>Sharing is caring</h2>
                <p>You can be a host yourself and make your car available with just a few steps</p>
            </div>
            <div>
                <span class="material-icons">https</span><h2>Be in control</h2>
                <p>More secure, safe and faster rentals leveraging blockchain and smart contract technologies</p>
            </div>
        </section>

        <section class="rightpane z-10 bg-white flex flex-col w-full md:w-1/2">
            <button v-if="!choiceStep"  @click="goBack()" class="px-16 py-2 text-left flex">
                <span class="material-icons">arrow_back</span>back
            </button>
            <div class="flex-1 loginOptions flex flex-col justify-center items-center py-6">
                {{this.$store.state.user}}
                <div v-if="choiceStep" class="flex gap-2 flex-col">
                    <h2 class="text-center font-bold mb-2 text-lg">Welcome to Carbit</h2>
                    <button @click="verityLogin()" id="connectme">Continue with <b>Connect.Me</b></button>
                    <button @click="ontLogin()" id="ontid" class="disabled" disabled>Continue with <b>ONT iD</b></button>
                    <button id="jolo" class="disabled" disabled>Continue with <b>Jolocom</b></button>
                    <!-- <p v-if="!explanation" class="flex justify-center mt-3 text-gray-600 cursor-pointer" @click="explanation = true">
                        Why to use these methods?<span class="material-icons">info</span>
                    </p> -->
                    <span class="mx-auto">-</span>
                    <NuxtLink to="/wallets"><span class="material-icons mr-1">info</span> I don't have any of them?</NuxtLink>
                </div>
                <div v-if="explanation" class="explanation px-2">
                        <div>
                            <span class="material-icons">account_balance_wallet</span>
                            These apps are identity wallets where you can manage your data.
                        </div>
                        <div>
                            <span class="material-icons">fact_check</span>
                            You can store verified credentials like driver licence in them.
                        </div>
                        <div>
                            <span class="material-icons">admin_panel_settings</span>
                            You can connect to different services with them and verify you data.
                        </div>
                    </div>
                <div v-if="loading" id="loginSpinner" class="w3-center" >
                    <p>Connecting to the network...</p>
                </div>
                <client-only>
                    <div v-if="verityQrDiv" id="qrcodeDiv" class="w3-center text-center">
                        <div v-if="!isMobile()">
                            <img :src="verityQrData" id="qrcode" style="height:300px; width:300px"></img><br>
                            <p>Scan this QR code with <img src="~/assets/images/connectme_logo.webp" class="h-5 rounded inline-block"> ConnectMe app</p>
                        </div>
                        <div v-if="isMobile()">
                            <a :href="'https://connectme.app.link?t='+verityInviteURL" class="bg-green-500 p-3 rounded-md inline-block">Verify through ConnectMe</a>
                            <details>
                                <summary>Show QR Code</summary>
                                <img :src="verityQrData" id="qrcode" style="height:300px; width:300px"></img><br>
                                <p>Scan this QR code with <img src="~/assets/images/connectme_logo.webp" class="h-5 rounded inline-block"> ConnectMe app</p>
                            </details>
                        </div>
                    </div>
                </client-only>
                <div v-if="ontQrData">
                    <client-only>
                        <qrcode :value="ontQrData" :options="{ width: 200 }" class="ml-6"></qrcode><br>
                    </client-only>
                    <p>Scan this QR code with <img src="~/assets/images/onto_logo.webp" class="h-5 rounded inline-block"> ONTO app</p>
                </div>
                
            </div>

        </section>

    </div>
</template>

<script lang="ts">

// for ont login
import {
  createAuthRequest,
  postRequest,
  requestQR,
  queryQRResult,
  ErrorEnum
} from "ontlogin";

    export default {
        data(){
            return{
                loading:false,
                socketId:"",
                verityQrDiv:false,
                verityQrData:"",
                verityInviteURL:"",
                ontQrData:"",
                ontQrLink:"",
                relationshipDid:"",
                registrationDiv:false,
                choiceStep:true,
                explanation: false
            }
        },
        mounted(){
            // verity connection
            this.socket = this.$nuxtSocket({
                name: 'verity', // Use socket "home"
                channel: '/', // connect to '/index'
            })
            this.socket.on('connect', () => {
                console.log("socket id: ",this.socket.id)
                this.socketId = this.socket.id
            })
            this.socket.on('qrcode', (data,invitUrl) => {
                this.loading = false
                console.log(invitUrl)
                if (this.isMobile()){
                    window.open('https://connectme.app.link?t='+this.verityInviteURL);
                }
                this.verityQrData = data
                this.verityInviteURL = invitUrl
                this.verityQrDiv = true
            })
            this.socket.on('connection_response', (data) => {
                switch (data.status) {
                    case 'redirected':
                        // window.location.replace('/')
                        console.log("redirected\n",data)
                        this.relationshipDid = data.relationshipDid
                        this.$store.commit('setVerificationMethod','connectme')
                        // this.$store.commit('setUser',data.redirectDID)
                        this.$store.commit('setRelationDid',data.redirectDID)
                        this.$router.push('/')
                    break
                case 'accepted':
                    console.log("accepted\n",data)
                    this.verityQrDiv = false
                    this.relationshipDid = data.relationshipDid
                    // this.$store.state.user = data.relationshipDid
                    this.$store.commit('setVerificationMethod','connectme')
                    // this.$store.commit('setUser',data.redirectDID)
                    this.$store.commit('setRelationDid',data.relationshipDid)
                    this.$router.push('/')
                    this.registrationDiv = true
                    break
                case 'timeout':
                    alert('Timeout waiting for connection acceptance')
                    window.location.reload()
                    break
                default:
                    alert(data.status)
                    window.location.reload()
                }
            })

        },
        methods:{
            // verity
            async verityLogin(){
                this.choiceStep = false
                this.explanation = false
                this.loading = true
                this.$axios({
                    method: 'post',
                    url: process.env.VUE_APP_VERITY_AGENT+'/oob_login',
                    data: 'socketId='+this.socketId
                });
            },
            async verityregisterForm(){

                
            },
            // ont login
            async ontLogin(){
                try {
                    const authRequest = createAuthRequest(0);
                    console.log("authRequest", authRequest); //process.env.VUE_APP_VERITY_AGENT+
                    const authChallenge = await postRequest(process.env.VUE_APP_ONTO_AGENT+"/requestChallenge", authRequest);
                    console.log("authChallenge", authChallenge)
                    // @ts-ignore
                    const { text, id } = await requestQR(authChallenge);
                    console.log("qr",text,"\n",id)
                    this.choiceStep = false
                    this.explanation = false
                    this.showQr(text);
                    const challengeResponse = await queryQRResult(id);
                    console.log("challengeresponse", challengeResponse)
                    this.hideQr()
                    //temp
                    this.$store.commit('setUser',challengeResponse.did)
                    this.$router.push('/')
                    // problem
                    const result = await postRequest(process.env.VUE_APP_ONTO_AGENT+"/submitChallenge", challengeResponse);
                    console.log("result",result);
                } catch (error) {
                    console.error(error);
                    this.$toast.show('Cannot connect, try again')
                }
                
            },
            showQr(text: string){
                this.ontQrData = text
                const obj = JSON.parse(text);
                this.ontQrLink = obj.ONTAuthScanProtocol
                console.log("qrlink",this.ontQrLink)
            },
            hideQr(){
                this.ontQrData = ""
            },
            //general
            goBack(){
                this.ontQrData = ""
                this.loading = false
                this.verityQrDiv = false
                this.choiceStep = true
                // this.$router.push('/login')
                // this.$router.app.refresh()
                // this.$forceUpdate();
            },
            isMobile() {
                if(/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
                    return true
                } else {
                    return false
                }
            }


        }
        
    }
</script>

<style lang="scss" scoped>
.leftpane{
    a{
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 1.7rem;
        font-weight: bold;
    }
    div{
        @apply p-4 md:p-6 md:mr-20;
        h2{
            @apply font-bold inline-block ml-2;
        }
    }
}
.rightpane{
    @apply pb-16 md:pb-1;
    box-shadow: -3px 0px 6px 1px #00000021;
    @media (min-width:768px) {
        border-top-left-radius: 10%400px;
        border-bottom-left-radius: 10%400px;         
    }
    .loginOptions{
        button{
            @apply shadow-md px-7 py-3 rounded-md inline-block text-white text-left;
        }
        a{
            @apply shadow-md px-7 py-3 rounded-md inline-block text-white text-left bg-gray-700 flex;
        }
    }
    .explanation{
        div{
            @apply flex gap-1 my-2;
        }
        span{
            @apply text-gray-700;
        }
    }
    // #connectme{
    //     background-color: #85BF43;
    // }
    // #ontid{
    //     background-color: #3354EA;
    // }
    // #jolo{
    //     background-color: #942E51;
    // }
    // #connectme:hover{
    //     background-color: #73ac33;
    // }
    // #ontid:hover{
    //     background-color: #2443ce;
    // }
    // #jolo:hover{
    //     background-color: #811f42;
    // }
}
.disabled{
    opacity: 0.4;
    cursor: not-allowed;
}
</style>
