<template>
    <div class="flex flex-col md:flex-row">
        <section class="md:h-screen flex flex-col p-6 md:p-10">
            <NuxtLink to="/login"  class="py-2 text-left flex text-lg items-center">
                <span class="material-icons">arrow_back</span>back to login
            </NuxtLink>
            <div class="m-auto explanation">
                <p class="font-bold">Create your Identity in a wallet of your choice then you can easily access the service by connecting your wallet to the service</p>
                <br><br>
                <div>
                    <span class="material-icons">account_balance_wallet</span>
                    These apps are identity wallets where you can manage your data.
                </div>
                <div>
                    <span class="material-icons">fact_check</span>
                    You can store verified credentials like driver licence in them.
                </div>
                <div>
                    <span class="material-icons">dashboard_customize</span>
                    You can connect to different services with them and verify you data.
                </div>
                <div>
                    <span class="material-icons">admin_panel_settings</span>
                    Using blockchain technology, no one has access to your data except you
                </div>
            </div>
            
        </section>
        <section class="wallets md:h-screen md:overflow-scroll">
            <div style="background:#e6e6e6">
                <img src="~/assets/images/connectme-wallet.png">
                <!-- <a v-if="isAndroid()" href="https://play.google.com/store/apps/details?id=me.connect" id="connectme" target="blank">Download <b>ConnectMe</b></a>
                <a v-if="isiPhone()" href="https://apps.apple.com/us/app/connect-me/id1260651672" id="connectme" target="blank">Download <b>ConnectMe</b></a> -->
                <a href="https://www.connect.me/" id="connectme" target="blank">Download <b>ConnectMe</b></a>
                <img src="~/assets/images/qrcode_www.connect.me.png" class="h-28 absolute bottom-2 right-2" id="connectmeqr">
            </div>
            <div style="background:#000">
                <img src="~/assets/images/ontid-wallet.png">
                <a class="bg-green-500 opacity-60" id="ontid">Download <b>ONTO</b></a>
            </div>
            <div style="background:#000">
                <img src="~/assets/images/jolo-wallet.png">
                <a class="bg-green-500 opacity-60" id="jolo">Download <b>Jolocom</b></a>
            </div>
        </section>

    </div>
</template>

<script lang="ts">
    export default {
        methods:{
            // getOperatingSystem() {
            //     var userAgent = navigator.userAgent || navigator.vendor;

            //     // Windows Phone must come first because its UA also contains "Android"
            //     if (/windows phone/i.test(userAgent)) {
            //         return "Windows Phone";
            //     }

            //     if (/android/i.test(userAgent)) {
            //         return "Android";
            //     }

            //     // iOS detection from: http://stackoverflow.com/a/9039885/177710
            //     if (/iPad|iPhone|iPod/.test(userAgent)) {
            //         return "iOS";
            //     }

            //         return "unknown";
            // }
                
            }
        
    }
</script>

<style lang="scss" scoped>
.explanation{
    div{
        @apply flex gap-1 my-2;
    }

}
.wallets{
    div{
        @apply h-72 2xl:h-96 relative overflow-hidden;
        a{
            @apply absolute bottom-8 left-8 px-4 py-2 rounded-md text-white cursor-pointer;
        }
    }
}
#connectmeqr{
    @media (max-width:700px) {
        display: none;
    }
}
</style>