#connectme{
    background-color: #85BF43;
}
#ontid{
    background-color: #3354EA;
}
#jolo{
    background-color: #942E51;
}
#connectme:hover{
    background-color: #73ac33;
}
#ontid:hover{
    background-color: #2443ce;
}
#jolo:hover{
    background-color: #811f42;
}