<template>
  <div>
    
    <button @click="ont_login" class="bg-red-600">Login with ONT</button>
    <client-only>
      <qrcode v-if="qrdata" :value="qrdata" :options="{ width: 200 }"></qrcode>
      <a v-if="qrlink" :href="qrlink" class="bg-gree-600">deeplinknis:/</a>
    </client-only>

  </div>
</template>

<script lang="ts">
import Vue from 'vue'


// for ont login
import {
  createAuthRequest,
  postRequest,
  requestQR,
  queryQRResult,
  ErrorEnum
} from "ontlogin";



export default Vue.extend({
  data(){
    return{
      qrdata:"",
      qrlink:""
    }
  },
  methods:{
    
    async ont_login(){
      const authRequest = createAuthRequest(0);
      console.log("authRequest", authRequest);
      const authChallenge = await postRequest("http://localhost:3100/requestChallenge", authRequest);
      console.log("authChallenge", authChallenge)
      // @ts-ignore
      const { text, id } = await requestQR(authChallenge);
      console.log("qr",text,"\n",id)
      this.showQr(text);
      const challengeResponse = await queryQRResult(id);
      console.log("challengeresponse", challengeResponse)
      this.hideQr()
      const result = await postRequest("http://localhost:3100/submitChallenge", challengeResponse);
      console.log("result",result);
    },
    showQr(text: string){
      this.qrdata = text
      const obj = JSON.parse(text);
      this.qrlink = obj.ONTAuthScanProtocol
      console.log("qrlink",this.qrlink)
    },
    hideQr(){
      this.qrdata = ""
    }
    

  }

})
</script>
