<template>
    <div>

    <div>
      <h2>Use case: Using Out-of-band protocol to login or register</h2>
    </div>
    <br>
    <div class="">
      <p>Click this button to login to your account or create an account with us</p>
      <div class="w3-center">
        <button class="bg-red-600" id="LoginButton" @click="login()">Login</button>
        <br>
      </div>
    </div>
    <br>
    <div v-if="loading" id="loginSpinner" class="w3-center" >
      <i class="fa fa-spinner fa-2x" aria-hidden="true"></i><br>
      <p>Generating QR code...</p>
      <br>
     </div>
     <br>
    <div v-if="qrDiv" id="qrcodeDiv" class="w3-center">
      <img :src="qrData" id="qrcode" style="height:300px; width:300px"></img><br><br>
      <p>Scan this QR code with ConnectMe app</p>
      <br>
    </div>

     <!-- <qrcode v-if="qrDiv" :value="qrData" :options="{ width: 200 }"></qrcode> -->

    <div v-if="registrationDiv" class="w3-container w3-pale-blue w3-center w3-card-4" id="registrationDiv" style="width:400px; margin:auto;">
      <br>
      <p>It looks that you are signing in for the first time</p>
      <p>Please fill in the information below to create your account:</p>
      <br>
      <form class="w3-container" id="registerForm" method="post" action="/register_oob">
        <br>
        <i class="fa fa-user" aria-hidden="true"></i>
        <label>Name</label>
        <input class="w3-input w3-border" type="text" name="name" required>
        <br> 
        <i class="fa fa-envelope" aria-hidden="true"></i> 
        <label>e-mail</label>  
        <input class="w3-input w3-border" type="email" name="email" required>
        <br> 
        <input id="socketId" name="socketId" hidden>
        <input id="relationshipDid" name="did" hidden>
        <br>  
        <div class="w3-center">
        <button class="w3-btn w3-blue w3-large" type="submit">Register</button>
        </div>
        <br><br>
      </form>
    </div>
        

    </div>
</template>

<script>
// var socket = io();
// let socketID
    export default {
        mounted(){
            this.socket = this.$nuxtSocket({
                // nuxt-socket-io opts: 
                name: 'verity', // Use socket "home"
                channel: '/', // connect to '/index'
                // socket.io-client opts:
                // reconnection: false
            })


            this.socket.on('connect', () => {
                console.log("in on connect")
                console.log(this.socket.id)
                this.socketId = this.socket.id
                // $('#socketId').val(socket.id)
            })

            this.socket.on('qrcode', (data) => {
                // $('#loginSpinner').hide()
                this.loading = false
                // $('#qrcode').attr('src', data)
                console.log("in on qrcode",data)
                this.qrData = data
                // $('#qrcodeDiv').show()
                this.qrDiv = true
            })

            this.socket.on('connection_response', (data) => {
                console.log("in connection response")
                switch (data.status) {
                case 'redirected':
                    window.location.replace('/accountPage')
                    break
                case 'accepted':
                    // $('#qrcodeDiv').hide()
                    this.qrDiv = false
                    // $('#relationshipDid').val(data.relationshipDid)
                    this.relationshipDid = data.relationshipDid
                    // $('#registrationDiv').show()
                    this.registrationDiv = true
                    break
                case 'timeout':
                    alert('Timeout waiting for connection acceptance')
                    window.location.reload()
                    break
                default:
                    alert(data.status)
                    window.location.reload()
                }
            })

        },
        data(){
            return{
                loading:false,
                socketId:"",
                qrDiv:false,
                qrData:"",
                relationshipDid:"",
                registrationDiv:false

            }
        },
        methods:{
            async login(){
                this.loading = true
        
                this.$axios({
                    method: 'post',
                    url: 'http://localhost:3000/oob_login',
                    data: 'socketId='+this.socketId
                });
            },
            async registerForm(){


                // $.ajax({
                // url: '/oob_register',
                // type: 'post',
                // data: $('#registerForm').serialize(),
                // success: function (result, textStatus, xhr) {
                //     window.location.replace('/accountPage')
                // },
                // error: function (xhr, status, err) {
                //     const message = xhr.status + ' ' + xhr.statusText + '\n' + xhr.responseText
                //     alert(message)
                //     window.location.reload()
                // }
                
            }

        }
    }
</script>

<style lang="scss" scoped>

</style>